<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /content/
RewriteCond %{HTTP_HOST} !=gartenanlage-zurfreienstunde.de
RewriteRule ^/?(.*) https://gartenanlage-zurfreienstunde.de/content/$1 [R,L]
RewriteCond %{HTTPS} !=on
RewriteCond %{THE_REQUEST} ^GET
RewriteRule ^/?(.*) https://%{SERVER_NAME}/content/$1 [R,L]
RewriteRule ^(.*)$ /$1 [R,L]

</IfModule>